@use '../abstracts/variables' as v;

/* Desktop */
@media all and (min-width: 700px) {
  body {
    padding: 2rem;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .wrapper {
    padding: 1rem 2rem;
  }
  .page-header {
    h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .logo {
      width: 300px;
    }
  }
  .page-index {
  }
}
