@use '../abstracts/variables' as v;

#button {
  text-align: center;
  background-color: v.$green;
  color: v.$white1;
  font-weight: 700;
  width: 100px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.8s;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.98);
    border-bottom: 6px solid rgba(0, 0, 0, 0.3);
  }
}
