@use '../abstracts/variables' as v;

#modal-container {
  display: none;
  &.is-visible {
    position: fixed;
    padding: 0 1rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    overflow: auto;
    display: grid;
  }
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: v.$white1;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: v.$red;
  text-decoration: none;
  cursor: pointer;
}
